body {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 14px;
}

header {
  height: 50px;
  text-align: center;
}

nav {
  float: left;
  width: 130px;
  text-align: center;
}

main {
  margin-left: 132px;
  text-align: center;
}

footer {
  height: 50px;
}

table {
  border: 1px solid black;
  border-spacing: 2px;
}

td {
  border: 1px solid black;
  padding: 10px;
}
